*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.next
{
  
  height: 500px;
  width: 100%;
}

./*nav-item a
{
  color: white !important;
  font-weight: bold;
}
.navbar
{
  background-color: linear-gradient(rgba(255,0,0,.3), rgba(255,0,0,0.3)) !important;
}
*/